@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  color: #353535;
  font-weight: 400;
  line-height: 24px;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
  overflow-y: scroll !important;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:active,
a:focus {
  color: #c2c4c4;
  text-decoration: none;
}

a:hover,
a:active {
  color: #F24D24;
  text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

input,
textarea,
select {
  border: 1px solid #d1d1d1;
  font-size: 14px;
  padding: 8px 15px;
  width: 100%;
  margin: 0 0 20px 0;
  max-width: 100%;
  resize: none;
}

input[type="submit"] {
  width: auto;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
input[type="submit"] {
  -webkit-appearance: none;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #585858;
  outline: none;
}

input[type="button"]:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

iframe {
  border: 0;
}

p {
  margin: 0 0 25px;
}

b,
strong {
  font-weight: 600;
}

.last-paragraph-no-margin p:last-of-type {
  margin-bottom: 0;
}

.alt-font strong {
  font-weight: 700;
}

ul,
ol,
dl {
  list-style-position: outside;
  margin-bottom: 25px;
}

a {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

a:hover {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

::selection {
  color: #000;
}

::-moz-selection {
  color: #000;
}

::-webkit-input-placeholder {
  color: #c2c4c4;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: #c2c4c4;
  text-overflow: ellipsis;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c2c4c4;
  text-overflow: ellipsis;
  opacity: 1;
}


/* ===================================
   End Reset
====================================== */


/****COMMON CSS***/

body {
  fontfamily: Microsoft Yahei;
}

.btn,
.btn-small,
.btn-flat {
  border-radius: 5px;
}

.is-desktop {
  display: none;
}

.icon {
  margin: 0;
  color: #fff;
  overflow: hidden;
  font-size: 30px;
}

.white {
  color: #fff;
}

.black-color {
  color: #353535;
}

.black02 {
  color: #353535;
}

.light-bg-grey {
  background: #ececec;
}

.grey-bg {
  background: #d6d6d6;
}

.overflow-h {
  overflow: hidden;
}

.no-padding {
  padding: 0;
}

.mar-bottom-5 {
  margin-bottom: 5px;
}

.teal-bg {
  background: #00a7a4 !important;
}

.light-orange-bg {
  background: #fe9333 !important;
}

.light-brown-bg {
  background: #c19c5e !important;
}

.dark-blue-bg {
  background: #161f49 !important;
}

.dark-red-bg {
  background: #D93341 !important;
}

.orange-gradient {
  background: #ee374a !important;
  background: -moz-linear-gradient(top, #ee374a 0%, #f6892a 100%) !important;
  background: -webkit-linear-gradient(top, #ee374a 0%, #f6892a 100%) !important;
  background: linear-gradient(to bottom, #ee374a 0%, #f6892a 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee374a', endColorstr='#f6892a', GradientType=0) !important;
}

.green-gradient {
  background: #23e02a !important;
  background: -moz-linear-gradient(top, #23e02a 0%, #30bad7 100%) !important;
  background: -webkit-linear-gradient(top, #23e02a 0%, #30bad7 100%) !important;
  background: linear-gradient(to bottom, #23e02a 0%, #30bad7 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23e02a', endColorstr='#30bad7', GradientType=0) !important;
}

.red-orange-gradient {
  background: #ee6f1a;
  background: -moz-linear-gradient(left, #ee6f1a 0%, #ce3815 40%, #e41010 100%);
  background: -webkit-linear-gradient(left, #ee6f1a 0%, #ce3815 40%, #e41010 100%);
  background: linear-gradient(to right, #ee6f1a 0%, #ce3815 40%, #e41010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6f1a', endColorstr='#e41010', GradientType=1);
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.pos-rel {
  position: relative;
}

.no-padding-top {
  padding-top: 0;
}

.padding-right15 {
  padding-right: 15px;
}

.text-grey {
  color: #888888;
}

.text-bold {
  font-weight: 600;
}


/****HEADER CSS***/

.navbar-fixed nav,
footer.footer-wrapper {
  max-width: 767px;
}

#header-wrapper nav {
  height: 41px;
  line-height: 41px;
  box-shadow: 0 2px 0 0 #040404;
  background-color: #fff;
}

#header-wrapper nav .nav-wrapper a.brand-logo img {
  height: 17px;
}

#header-wrapper nav .nav-wrapper a.brand-logo,
#header-wrapper nav .nav-wrapper a.back-btn {
  color: #292929;
}

#header-wrapper nav .nav-wrapper a.back-btn i {
  font-size: 32px;
}

#header-wrapper nav .nav-wrapper a.player-center-icon {
  height: 56px;
  margin: 0 18px;
  color: #292929;
  position: relative;
  z-index: 1;
  float: right;
  padding-top: 5px;
}

#header-wrapper nav .nav-wrapper a.back-btn {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
  padding-top: 5px;
}

#header-wrapper nav a.sidenav-trigger {
  padding-top: 5px;
}

#header-wrapper nav a.sidenav-trigger i {
  color: #292929;
}

#header-wrapper ul.sidenav {
  z-index: 2000;
  background: #252525;
}

ul#mobile-demo li.login-reg-wrapper {
  text-align: center;
  padding: 10px 0 20px 0;
  background: #181818;
}
ul#mobile-demo li.login-reg-wrapper .icon-head{
  background: url(../images/icons/icon-head.png) no-repeat center;
  background-size: cover;
  height: 25px;
  width: 25px;
  display: block;
  margin: 0 auto;
}
ul#mobile-demo li.login-reg-wrapper .player-username{
  color: #ddd;
  font-size: 16px;
}
ul#mobile-demo li.login-reg-wrapper .balance {
  display: block;
  line-height: 20px;
  font-size: 20px;
  padding-bottom: 10px;
  margin: 0 10% 10px 10%;
  /* border-bottom: 1px solid #d9d9d9; */
  color: #fff;
}

1 ul#mobile-demo li.login-reg-wrapper .player-username {
  font-size: 20px;
}

ul#mobile-demo li.login-reg-wrapper p {
  padding: 15px 0 0 0;
  margin: 0;
}

ul#mobile-demo li.login-reg-wrapper p img {
  width: 170px;
}

ul#mobile-demo li.login-reg-wrapper span.btn-wrapper {
  display: block;
}

ul#mobile-demo li.login-reg-wrapper span.btn-wrapper a.login_btn,
ul#mobile-demo li.login-reg-wrapper span.btn-wrapper button.login_btn,
ul#mobile-demo li.login-reg-wrapper span.btn-wrapper button.reg_btn {
  background: #292929;
  color: #fff;
  border: 0;
  font-size: 14px;
  padding: 0 15px;
  width: 40%;
  margin: 0 4px;
  text-transform: uppercase;
  border-radius: 10px;
  min-height: 30px;
  line-height: 30px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
}

ul#mobile-demo li.login-reg-wrapper span.btn-wrapper button.reg_btn {
  background: #D9AD32;
  color: #fff;
}

ul#mobile-demo li.login-reg-wrapper span.btn-wrapper .login_btn.login-out{
  width: 84%;
}

ul#mobile-demo li.language-wrapper {
  padding: 0 10px 0 10px;
}

ul#mobile-demo li.language-wrapper .select-dropdown li img {
  height: 30px;
  width: 30px;
}

ul#mobile-demo li {
  margin-bottom: 10px;
}

ul#mobile-demo li a {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  padding: 0 26px;
}

ul#mobile-demo li:nth-child(2),
ul#mobile-demo li:nth-child(3),
ul#mobile-demo li:nth-child(4),
ul#mobile-demo li:nth-child(5),
ul#mobile-demo li:nth-child(6),
ul#mobile-demo li:nth-child(7),
ul#mobile-demo li:nth-child(8),
ul#mobile-demo li:nth-child(9) {
  margin-left: -20px;
}


/****SLIDER CSS***/

.slider-wrapper {
  padding: 0;
}
.swiper-container-top img{
  display: block;
}
.swiper-container-top .swiper-pagination-top{
  width: 60px;
  height: 26px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: #040404;
  right: 38px;
  bottom: 6px;
  left: inherit;
  letter-spacing: 2px;
}
.swiper-container-top .swiper-button-next-top {
  background: url('../images/icons/play.png');
  width: 27px;
  height: 26px;
  right: 99px;
  bottom: 6px;
  top: inherit;
}
.swiper-container-top .promotion-btn {
  background: url('../images/icons/more.png') center no-repeat;
  display: block;
  width: 27px;
  height: 26px;
  opacity: 0.81;
  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 9;
}

/****ANNOUNCEMENT CSS***/

.announcement-wrapper {
  overflow: hidden;
  height: 23px;
  background-color: #b9996f;
}

.announcement-wrapper ._public_news {
  height: 23px;
  width: 100%;
  color: #fff;
  line-height: 23px;
  font-size: 12px;
}


/****CATEGORY LINKS CSS***/

.category-links-wrapper {
  padding: 6px 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.category-links-wrapper .category-swiper-container .swiper-wrapper .swiper-slide a {
  color: #292929;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  display: block;
}

.category-links-wrapper .category-swiper-container .swiper-wrapper .swiper-slide a i {
  display: block;
  color: #a4a4a4;
}


/**** HOME GAMES CSS***/
.home-game-main{
  background: #f5f5f5;
}
.home-game-nav.tabs{
  height: auto;
  flex-wrap: wrap;
  background: #f5f5f5;
  margin-bottom: 6px;
}
.home-game-nav.tabs li.tab{
  width: 33.333333333%;
  height: 65px;
  line-height: 1;
  padding: 0.14%;
}
.home-game-nav.tabs .indicator{
  display: none;
}
.home-game-nav.tabs li.tab a{
  background: #fff;
}
.home-game-nav.tabs li.tab a.active{
  background: #fff;
  border-bottom: solid 3px #fb1337;
}
.home-game-nav.tabs li.tab img{
  height: 58px;
}
.home-game-nav.tabs li.tab p{
  text-align: center;
  color: #4a4a4a;
  margin: -15px 0 0;
}
.home-game-wrapper{
}
.home-game-wrapper:after{
  content: '';
  display: table;
  clear: both;
}
.home-game-wrapper.style-1>div{
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 6px;
  overflow: hidden;
}
.home-game-wrapper.style-1>div p{
  font-size: 16px;
  color: #040404;
  margin: 0 10px 5px 15px;
}
.home-game-wrapper.style-1>div p.title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.home-game-wrapper.style-1>div p.title .red-play{
  font-size: 16px;
  font-weight: normal;
  color: #fb1337;
  float: right;
  line-height: 37px;
}
.home-game-wrapper.style-2{
  padding: 0 6px;
}
.home-game-wrapper.style-2>div{
  float: left;
  width: 50%;
  padding: 0 8px;
}
.home-game-wrapper.style-2>div p{
  font-size: 14px;
  color: #4a4a4a;
  margin: 0 0 12px;;
}


/**** HOME FOTTER CSS***/
.home-footer{
  background: #f5f5f5;
  padding: 24px 6px 2px;
}
.footer-links{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  margin: 0;
}
.footer-links li{
  position: relative;
  flex-grow: 1;
  width: 33%;
}
.footer-links li.b-r-1:after{
  content: '|';
  color: #d3d3d3;
  position: absolute;
  right: 0;
  bottom: 7px;
}
.footer-links li a{
  text-align: center;
  display: block;
  line-height: 34px;
  color: #4a4a4a;
  font-size: 16px;
}
.home-footer p {
  font-size: 12px;
  color: #4a4a4a;
  margin: 0;
  font-weight: 500;
}

/**** SLOTS CSS***/

.game-provider-icons-wrapper {
  border-bottom: 1px #b3b3b3 solid;
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  background: #f1f1f1;
  z-index: 996;
  height: 71px;
}

.game-provider-icons-wrapper .row {
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  .game-provider-icons-wrapper .col.s9.category-wrapper .swiper-wrapper .swiper-slide a {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .game-provider-icons-wrapper .col.s9.category-wrapper .swiper-wrapper .swiper-slide a {
    font-size: 9px;
  }
}

.game-provider-icons-wrapper .col.s9.category-wrapper .swiper-wrapper .swiper-slide.active a {
  display: inline-block;
  border-bottom: 2px #000 solid;
  color: #000;
  padding: 0 5px;
}

.row .col.category-wrapper {
  overflow: hidden;
  padding-left: 20px;
}

.row .col.category-wrapper .game-prov-swiper-container {
  padding-top: 10px;
}

.row .col.category-wrapper .game-prov-swiper-container .swiper-wrapper {
  margin-right: 10px !important;
}

.row .col.category-wrapper .game-prov-swiper-container .swiper-wrapper .swiper-slide {
  width: auto !important;
  flex-grow: 1;
}

.icon-gp-wrapper {
  position: relative;
}

.icon-gp-wrapper img {
  height: 50px;
  position: relative;
  top: -4px;
}

.icon-gp-wrapper span {
  display: block;
}

.icon-gp-wrapper span i {
  display: block;
  position: absolute;
  top: 5px;
  right: -26px;
  font-size: 33px;
}

ul#gameproviders-icons {
  width: 100%;
  display: none;
  position: absolute;
  height: 130px;
  top: 70px;
  margin: 0;
}

ul#gameproviders-icons li {
  text-align: center;
  float: left;
  clear: unset;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

ul#gameproviders-icons li ul {
  height: 130px;
  margin: 0;
      width: 145%;
}

ul#gameproviders-icons li ul li a img {
  height: 55px;
  margin-top: 15px;
}

.gameproviders-icons-container ul li {
  width: 110px !important;
  float: left;
  overflow: hidden !important;
  height: 130px;
  padding: 10px;
}

.gameproviders-icons-container ul li a {
  height: 86px;
  width: 86px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 110px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gameproviders-icons-container ul li span {
  color: #fff;
  font-weight: 500;
}

.slots-games-wrapper {
  padding-top: 0;
}

.slots-games-wrapper .row div.col.s3.center-align img {
  border-radius: 25px;
  height: 100%;
}

.slots-games-wrapper .row div.col.s3.center-align a {
  margin-bottom: 5px;
}

.slots-games-wrapper .row div.col.s3.center-align .slot-name {
  height: 70px;
  background: #fff;
  display: block;
  line-height: 15px;
  padding-top: 5px;
}

.slots-games-wrapper .row div.col.s3.center-align .slot-btn {
  height: 70px;
  background: #fff;
  display: none;
}

.slots-games-wrapper .row div.col.s3.center-align:hover .slot-name {
  height: 70px;
  background: #fff;
  display: none;
}

.slots-games-wrapper .row div.col.s3.center-align:hover .slot-btn {
  height: 70px;
  background: #fff;
  display: block;
  padding-top: 5px;
}

.slots-games-wrapper .row div.col.s3.center-align:hover .slot-btn a.play-btn {
  background: #c0241a;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
  width: 100%;
  border-radius: 5px;
}

.slots-games-wrapper .row div.col.s3.center-align:hover .slot-btn a.demo-btn {
  background: #fe9333;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
  width: 100%;
  border-radius: 5px;
}

.game-cover {
  transform: scale(0.12, 0.12) translate(-25px, -35px);
}

.no-show {
  display: none;
}

.grid-item_ {
  padding: 2px 3px !important;
}

.game-img-inset {
  /*transform: scale(1.05,1.2);*/
}

.label-gtd {
  text-transform: capitalize;
}

.hideself {
  display: none;
  /width: 0vw !important;
  opacity: 0;
  min-height: 0;
  margin: 0;
  padding: 0 !important;
  /
}


/**** SEARCH CONTENT CSS***/

.search-float {
  position: fixed;
  bottom: 95px;
  z-index: 1500;
  right: 8px;
}

.searchbox-container {
  background: #ee6f1a;
  background: -moz-linear-gradient(left, #ee6f1a 0%, #ce3815 40%, #e41010 100%);
  background: -webkit-linear-gradient(left, #ee6f1a 0%, #ce3815 40%, #e41010 100%);
  background: linear-gradient(to right, #ee6f1a 0%, #ce3815 40%, #e41010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6f1a', endColorstr='#e41010', GradientType=1);
}

.searchbox-container .close-wrapper {
  padding: 10px 10px 0 10px;
}

.searchbox-container .input-field {
  margin: 0 15px;
}

.searchbox-container .label-icon {
  right: 0;
  left: auto !important;
  color: #fff;
  height: 40px;
  line-height: 55px;
}

.searchbox-container .nav-wrapper .input-field input[type="search"] {
  padding-left: 0;
  margin-bottom: 0;
  min-height: 40px;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 0;
  text-indent: 10px;
}

.searchbox-container .nav-wrapper .input-field input[type="search"]:focus:not(.browser-default) {
  background: rgba(0, 0, 0, 0.3);
}

.searchbox-container .nav-wrapper .input-field input[type="search"]:not(.browser-default):focus:not([readonly])+label {
  color: #fff;
  display: none;
}

.searchbox-container .nav-wrapper .input-field .material-icons {
  color: #fff;
  height: 40px;
  line-height: 40px;
  right: 0;
}

.searchbox-container .nav-wrapper .input-field ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.searchbox-container .nav-wrapper .input-field :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.searchbox-container .nav-wrapper .input-field ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

#search-container,
#promo-content-1,
#promo-content-2,
#promo-content-3,
#promo-content-4,
#promo-content-5,
#promo-content-6,
#promo-content-7,
#promo-content-8,
#promo-content-9,
#promo-content-10,
.promo-sidenav{
  width: 100%;
  z-index: 1500;
  padding-bottom: 20%;
}

#promo-content-1 .close-wrapper,
#promo-content-2 .close-wrapper,
#promo-content-3 .close-wrapper,
#promo-content-4 .close-wrapper,
#promo-content-5 .close-wrapper,
#promo-content-6 .close-wrapper,
#promo-content-7 .close-wrapper,
#promo-content-8 .close-wrapper,
#promo-content-9 .close-wrapper,
#promo-content-10 .close-wrapper,
.promo-sidenav .close-wrapper{
  position: absolute;
}

#promo-content-1::before,
#promo-content-2::before,
#promo-content-3::before,
#promo-content-4::before,
#promo-content-5::before,
#promo-content-6::before,
#promo-content-7::before,
#promo-content-8::before,
#promo-content-9::before,
#promo-content-10::before,
.promo-sidenav::before{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
  top: 31%;
  box-shadow: 0 -50px 30px rgba(255, 255, 255, 1);
}

#promo-content-1::after,
#promo-content-2::after,
#promo-content-3::after,
#promo-content-4::after,
#promo-content-5::after,
#promo-content-6::after,
#promo-content-7::after,
#promo-content-8::after,
#promo-content-9::after,
#promo-content-10::after,
.promo-sidenav::after {
  content: '';
  position: absolute;
  display: block;
  width: 40%;
  height: 100px;
  top: -100px;
  box-shadow: 70px 80px 50px rgba(255, 255, 255, .9);
  border-radius: 100px;
  left: -130px;
}

.close-wrapper {
  top: 20px;
  left: 15px;
  z-index: 1;
}

.sidecontent-wrapper {
  margin: 10px;
  position: relative;
  padding-bottom: 5%;
}

.sidecontent-wrapper .search-wrapper {
  border: 1px #b3b3b3 solid;
  padding: 0;
}

.sidecontent-wrapper .close-wrapper {
  padding-bottom: 5px;
}

.sidecontent-wrapper .close-wrapper a {
  color: #484848;
}

.sidecontent-wrapper .close-wrapper a i {
  display: inline-block;
  float: right;
}

.sidecontent-wrapper .suggested-search-wrapper ul {
  border: 0;
}

.sidecontent-wrapper .suggested-search-wrapper ul li {
  border: 0;
  padding: 12px 0;
  clear: both;
}

.sidecontent-wrapper .suggested-search-wrapper ul li img {
  width: 25px;
  display: inline-block;
  float: left;
  margin: 0 9px 0 0;
}

.sidecontent-wrapper .suggested-search-wrapper ul li p {
  margin: 0;
  float: left;
  padding-top: 5px;
}

.sidecontent-wrapper .suggested-search-wrapper ul li span.game-list-wrapper {
  display: block;
  clear: both;
  padding-top: 10px;
}

.sidecontent-wrapper .suggested-search-wrapper ul li span.game-list-wrapper a {
  display: inline-block;
  padding-top: 5px;
  color: #f04f41;
  text-decoration: underline;
  text-align: center;
  width: 32.33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  ;
}

.sidecontent-wrapper .suggested-search-wrapper ul li.collection-item {
  border-bottom: 1px #c8c8c8 dotted;
}

a.apply-promo-btn {
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 1600;
  border-radius: 5px;
  font-weight: 600;
}


/**** PROMOTION CSS***/

.promotion-wrapper {
  margin: 10px;
  margin-bottom: 70px;
}

.promo-content-wrapper {
  width: 100%;
  z-index: 1500;
  padding: 20px;
  padding-bottom: 100px;
  border: 1px #b3b3b3 solid;
  padding: 5px;
  margin-bottom: 40px;
}

.promo-content-wrapper p {
  font-weight: 600;
  font-size: 24px;
  margin: 5px 0 0 0;
}

.promo-content-wrapper span.text-content p {
  font-size: 12px;
  margin: 10px 0 0 0;
  font-weight: 500;
  line-height: 20px;
}

.promo-content-wrapper a {
  background: #bfbfbf;
  color: #fff;
  width: 100%;
  display: block;
  padding: 8px 0;
  margin-top: 5px;
}

.category-promotion-wrapper {
  overflow: hidden;
  padding: 25px 0 0 0;
/*   position: -webkit-sticky; */
/*   position: sticky; */
/*   top: 55px; */
/*  border-bottom: 1px #b3b3b3 solid;*/
/*   z-index: 1; */
/*  background: #f1f1f1;*/
  height: 71px;
}

.category-promotion-container {
  padding-left: 12px;
}

.category-promotion-container .swiper-wrapper .swiper-slide {
  width: auto !important;
  flex-grow: 1;
  margin-right: 30px !important;
}

@media (max-width: 375px) {
  .category-promotion-container .swiper-wrapper .swiper-slide {
    font-size: 11px !important;
  }
}

.category-promotion-container .swiper-wrapper .swiper-slide a{
  display: inline-block;
  padding: 0 25px 5px;
  color: #353535;
}
.category-promotion-container .swiper-wrapper .swiper-slide.active a {
  border-bottom: 2px #c0241a solid;
  color: #c0241a;
}
.category-promotion-container .swiper-wrapper .swiper-slide a .icon-all,
.category-promotion-container .swiper-wrapper .swiper-slide a .icon-end{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
}
.category-promotion-container .swiper-wrapper .swiper-slide a .icon-all{
  background: url(../images/icons/icon-check-normal.png);
  background-size: contain;
}
.category-promotion-container .swiper-wrapper .swiper-slide:hover a .icon-all,
.category-promotion-container .swiper-wrapper .swiper-slide.active a .icon-all{
  background: url(../images/icons/icon-check-selected.png);
  background-size: contain;
}
.category-promotion-container .swiper-wrapper .swiper-slide a .icon-end{
  background: url(../images/icons/icon-stop-normal.png);
  background-size: contain;
}
.category-promotion-container .swiper-wrapper .swiper-slide:hover a .icon-end,
.category-promotion-container .swiper-wrapper .swiper-slide.active a .icon-end{
  background: url(../images/icons/icon-stop-selected.png);
  background-size: contain;
}

.promotion-banner-wrapper {
  padding: 0;
/*  background: url(../images/banner/bg-promotion.png);*/
}
.promotion-banner-wrapper .grid-item.end img{
  filter: grayscale(1);
  opacity: .5;
}

.promotion-banner-wrapper div.content-grid .col.s12 {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 11px 10px;
}

.promotion-banner-wrapper div.content-grid .col.s12 a {
  color: #000;
  display: block;
/*  border: 1px #b8b8b8 solid;*/
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, .2);
  padding-bottom: 10px;
}

.promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper {
  display: block;
  padding: 0 10px 15px 10px;
}

.promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper b {
  font-size: 11px;
}

.promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper h6 {
  margin: 0;
  font-weight: 600;
}

@media (max-width: 375px) {
  .promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper h6 {
    font-size: 14px !important;
  }
}

.promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper span {
  display: block;
}
.promotion-banner-wrapper div.content-grid button.readmore-btn{
  background: #DA3241;
  box-shadow: none;
  float: right;
  margin-top: 15px;
}

.promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper span i {
  font-size: 15px;
  display: inline-block;
  color: #929292;
  float: left;
  padding-top: 5px;
}

.promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper span p {
  margin: 0;
  display: inline-block;
  font-size: 11px;
  color: #888888;
}

@media (max-width: 375px) {
  .promotion-banner-wrapper div.content-grid .col.s12 a span.promo-title-wrapper span p {
    line-height: 13px;
    padding-top: 5px;
  }
}

.contents .contents-wrapper {
  padding: 10px;
}

.contents .contents-wrapper p {
  font-size: 16px;
  line-height: 23px;
}

.contents .contents-wrapper b.title-content {
  padding-bottom: 20px;
}

.contents .contents-wrapper b {
  color: #353535;
  font-size: 17px;
  line-height: 23px;
  display: block;
}

.contents .contents-wrapper table {
  margin-bottom: 20px;
}

.contents .contents-wrapper table thead tr th,
.contents .contents-wrapper table tbody tr td {
  border: 1px #b3b3b3 solid;
}

.contents .contents-wrapper ul {
  margin-left: 15px;
  margin-top: 0;
}

.contents .contents-wrapper ul li {
  list-style: decimal;
  line-height: 23px;
}

.contents .contents-wrapper table thead {
  background: #e0e0e0;
}

.contents .contents-wrapper table thead tr th {
  padding: 5px 5px !important;
}


/**** LIVE CASINO CSS***/

.live-casino-wrapper,
.live-casino-wrapper .swiper-container {
  height: 100%;
  padding: 0;
}

.live-casino-wrapper .swiper-container .swiper-slide a {
  position: relative;
  top: 55%;
}

.live-casino-wrapper .swiper-container .slider-livecasino-01 {
  background: url(../images/banner/livecasino-slider-ebet-banner.jpg?=v0.24) top center no-repeat;
  background-size: contain;
  height: 100vh;
}

.live-casino-wrapper .swiper-container .slider-livecasino-02 {
  background: url(../images/banner/livecasino-slider-sa-banner.jpg?=v0.24) top center no-repeat;
  background-size: contain;
  height: 100vh;
}

.live-casino-wrapper .swiper-container .slider-livecasino-03 {
  background: url(../images/banner/livecasino-slider-ag-banner.jpg?=v0.24) top center no-repeat;
  background-size: contain;
  height: 100vh;
}

.live-casino-wrapper .swiper-container .slider-livecasino-04 {
  background: url(../images/banner/livecasino-slider-bbin-banner.jpg?=v0.24) top center no-repeat;
  background-size: contain;
  height: 100vh;
}

.live-casino-wrapper .swiper-pagination {
  bottom: 110px;
  width: 100%;
  text-align: center;
}

.live-casino-wrapper .swiper-pagination span {
  height: 73px;
  width: 73px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  line-height: 110px;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-size: 100% !important;
  outline: none;
}


/*  .live-casino-wrapper .swiper-pagination span:nth-child(1) {
    background: url(../images/icons/ebet-icon.png?v2) center center no-repeat #fff;
  }*/

.live-casino-wrapper .swiper-pagination span:nth-child(1) {
  background: url(../images/icons/sa-icon.png?v2) center center no-repeat #fff;
}

.live-casino-wrapper .swiper-pagination span:nth-child(2) {
  background: url(../images/icons/ag-icon.png?v2) center center no-repeat #fff;
}

.live-casino-wrapper .swiper-pagination span:nth-child(3) {
  background: url(../images/icons/bbin-icon.png?v2) center center no-repeat #fff;
}

.live-casino-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.live-casino-wrapper .swiper-pagination .swiper-pagination-bullet {
  opacity: 0.6;
}


/**** SPORTS - FISHING - LOTTERY CSS ***/

.sports-game-wrapper,
.fish-game-wrapper,
.lottery-game-wrapper,
.idnpoker-game-wrapper {
  height: 100%;
  position: relative;
  padding: 0;
}


/** Sports Bg **/

.sports-game-wrapper .sports-game-01 {
  background: url(../images/banner/Sports-slider-banner2.jpg?v=0.3) center center no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}


/** Fishing Bg **/

.fish-game-wrapper .fish-game-01 {
  background: url(../images/banner/fishing-banner.jpg?=v0.1) center center no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}


/** Lottery Bg **/

.lottery-game-wrapper .lottery-game-01 {
  background: url(../images/banner/lottery-banner.jpg?=v0.1) center center no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}


/** IDN poker Bg **/

.idnpoker-game-wrapper .idnpoker-game-01 {
  background: #000 url(../images/banner/idnpoker-slider-banner.jpg) top center no-repeat;
  background-size: contain;
  min-height: 100%;
  height: 100vh;
}

.sports-game-wrapper .sports-game-01 span,
.fish-game-wrapper .fish-game-01 span,
.lottery-game-wrapper .lottery-game-01 span,
.idnpoker-game-wrapper .idnpoker-game-01 span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 70%;
  z-index: 3;
}

.fish-game-wrapper .fish-game-01 span.bubles-logo {
  position: absolute;
  z-index: 1;
  top: 100px;
  width: 100%;
  text-align: center;
}

.fish-game-wrapper .fish-game-01 span.bubles-logo img {
  width: 80%;
  animation: jello 2.4s infinite;
}


/**** DOWNLOAD CSS***/

.dl-wrapper {
  padding-bottom: 12%;
}

.logo-icon-bg {
  height: 86px;
  width: 86px;
  display: inline-block;
  margin: 27px 10px;
  text-align: center;
  line-height: 110px;
  border-radius: 25px;
  outline: none;
}

.logo-mg {
  background: url(../images/icons/mg-slots-big-icon.png) center center no-repeat #fff;
  background-size: 65%;
}

.logo-ag {
  background: url(../images/icons/ag-slots-icon.png) center center no-repeat #fff;
  background-size: 75%;
}

.logo-ebet {
  background: url(../images/icons/ebet-icon.png) center center no-repeat #fff;
  background-size: 85%;
}

.logo-jumbo {
  background: url(../images/icons/jumbo-slots-icon.png) center center no-repeat #fff;
  background-size: 90%;
}

.logo-pt {
  background: url(../images/icons/pt-slots-icon.png) center center no-repeat #fff;
  background-size: 65%;
}

.dl-name-provider {
  padding: 25px 0 0 20px !important;
}

.dl-name-provider h5 {
  font-weight: 600;
}

.dl-name-provider img {
  display: inline-block;
  float: left;
  padding-right: 5px;
  width: 20px;
}

.dl-name-provider p {
  margin: 0;
  display: inline-block;
}

.dl-icon {
  text-align: center;
  padding-top: 30px !important;
}

.dl-icon img {
  display: inline-block;
}

.dl-icon p {
  color: #353535;
  font-size: 12px;
  margin: 0;
}


/**** SPINNING WHEEL CSS***/

.wheel {
  width: 180vw;
  position: fixed;
  left: -40vw;
  top: -6vh;
  z-index: 1000;
  display: none;
}

.w-close,
.w-go {
  z-index: 4;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 25vw;
  margin: 0 auto;
}

.w-notice {
  color: white;
  position: fixed;
  bottom: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  z-index: 6;
  background: black;
  padding: 13px 0px;
}

.w-indicator {
  z-index: 3;
  top: 45px;
}

.w-main {
  z-index: 2;
  margin-top: -85% !important;
  top: 25px;
}

.w-bg {
  z-index: 1;
  margin-top: -85.7% !important;
}

.w-cbg {
  z-index: 0;
  margin-top: -85.7% !important;
}

.w-ray {
  z-index: 0;
  /*top: -50px;*/
  margin-top: -85% !important;
  animation: rotating 10s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wheel .ab-center {
  position: relative;
  width: 100%;
}

.wheel-overlay,
.res-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
}

.wheel-overlay {
  z-index: 999;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
}

.res-overlay {
  display: none;
  z-index: -1;
}

.res-overlay.active {
  z-index: 10002;
  position: fixed;
  top: 0;
  display: block !important;
}

.w-res img {
  z-index: -53;
  opacity: 0;
}

.w-res.active img {
  z-index: 8;
  opacity: 1;
}

.img-res {
  width: 90vw;
  position: fixed;
  margin: 30vh auto;
  left: 0;
  right: 0;
  transition: transform 0.5s;
}

.active .img-res {
  transform: scale(1, 1);
}

.game-cover {
  transform: scale(0.12, 0.12) translate(-25px, -35px);
}

.no-show {
  display: none;
}

.grid-item_ {
  padding: 2px 3px !important;
}

.game-img-inset {
  /*transform: scale(1.05,1.2);*/
}

.label-gtd {
  text-transform: capitalize;
}

.hideself {
  display: none;
  /width: 0vw !important;
  opacity: 0;
  min-height: 0;
  margin: 0;
  padding: 0 !important;
  /
}


/**** FOOTER CSS***/

footer.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  height: 70px;
  background: #0b0b0b;
}

footer.footer-wrapper .row {
  margin-bottom: 2px;
}

footer.footer-wrapper .row .col.s3 {
  text-align: center;
}

footer.footer-wrapper .row .col.s3 a {
  color: #fff;
}

footer.footer-wrapper .row .col.s3 i {
  display: block;
  font-size: 30px;
}

footer.footer-wrapper .row .col.s3 p {
  display: block;
  margin: -9px 0 0 0;
  font-size: 12px;
}

.spin-wrapper {
  position: fixed;
  top: 35%;
  right: 0;
  z-index: 5;
  margin-right: -172px;
  transition: all 0.3s ease-in-out;
}

.spin-wrapper:hover {
  margin-right: -16px;
}


/**** ANNONCEMENT CSS***/

#myModal-mobile {
  left: 0 !important;
  top: 0 !important;
}

#myModal-mobile .modal-dialog {}

#myModal-mobile .modal-dialog .modal-content {
  margin: 0;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
}

#myModal-mobile .modal-dialog .modal-content .modal-body .close {
  color: #fd8e0b;
  float: right;
  font-size: 40px;
  font-weight: bold;
  background: transparent;
  border: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: 0;
  top: 0;
}

#myModal-mobile .modal-dialog .modal-content .modal-body .modal-heading {
  position: relative;
  height: 50px;
}

#myModal-mobile .modal-dialog .modal-content .modal-body .modal-heading .modal-title {
  font-size: 25px;
  text-indent: 10px;
  line-height: 50px;
}

.player_announcement_popup_container.modal .modal-dialog {
  -webkit-transform: translate(0, -50%) !important;
  -o-transform: translate(0, -50%) !important;
  transform: translate(0, 0) !important;
  top: 0 !important;
  margin: 0 auto !important;
  width: 100% !important;
  max-width: unset !important;
  height: 100% !important;
  min-height: auto !important;
}

@media only screen and (max-width: 960px) {
  .player_announcement_popup_container.modal .modal-content {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    padding: 0 0 30px 0 !important;
    margin: 0 !important;
  }
}

.player_announcement_popup_container.modal .modal-heading {
  padding: 0 !important;
}

.player_announcement_popup_container.modal .modal-heading .modal-title {
  text-indent: 10px !important;
}

.player_announcement_popup_container.modal .modal-heading .close {
  top: 0 !important;
  position: fixed !important;
  right: 0 !important;
  padding-right: inherit !important;
  height: 50px !important;
  color: #ac292f !important;
  width: 50px !important;
  opacity: 1 !important;
  font-size: 40px !important;
  line-height: 50px !important;
  font-weight: normal !important;
}

.announcements_nav_list ul.nav,
.announcements_nav_list ul {
  background: #ededed;
  padding-bottom: 0;
}

.announcements_nav_list .nav-tabs>li>a,
.announcements_nav_list .nav-tabs>li>a {
  display: block;
  margin-right: 0;
  color: #000;
  font-weight: normal;
  border: 0 !important;
  border-radius: 0;
  font-size: 14px;
}

.player_announcement_popup_container .panel .panel-body {
  padding: 0 !important;
}

.player_announcement_popup_container .panel .panel-heading {
  position: inherit !important;
}

.player_announcement_popup_container .panel .panel-heading .panel-title {
  font-size: 18px !important;
  margin: 0;
  text-align: center;
  height: 40px;
}

.player_announcement_popup_container .panel .panel-heading .close {
  border: 0 !important;
  height: 35px !important;
  line-height: 25px !important;
  width: 35px !important;
  z-index: 5 !important;
  padding: 0 !important;
  top: 3px !important;
  right: 3px !important;
  background: #ac292f !important;
  color: #fff !important;
  border-radius: 5px !important;
}

@media (min-device-width:768px) and (max-device-width:1024px) {
  .slots-games-wrapper .row div.col.s3.center-align .slot-name {
    height: 90px;
    line-height: 35px;
    font-size: 18px;
  }
  .slots-games-wrapper .row div.col.s3.center-align:hover .slot-btn {
    padding-top: 15px;
  }
}

.game-img {
  height: 12.5vh;
  width: auto;
  background: silver;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
}


/*SIDEBAR ICONS*/

.s-nav-item span {
  margin-left: 15px;
}

.s-nav-item {
  margin-left: 0px !important;
}

.s-nav-item>a>div>img{
  max-height: 35px;
  max-width: 28px;
  vertical-align: middle;
}
.s-nav-item>a>div {
  height: 48px;
  width: 38px;
  text-align: center;
  display: inline-block;
  /* background: url(../../../includes/assets/images/icons/sideba-icons.png?v=0.5); */
  /* background-repeat: no-repeat; */
}

.ico-home {
  background-position: -3px 9px !important;
}

.ico-slots {
  background-position: -3px -65px !important;
}

.ico-live {
  background-position: -3px -130px !important;
}

.ico-sports {
  background-position: -3px -205px !important;
}

.ico-fish {
  background-position: -3px -275px !important;
}

.ico-lottery {
  background-position: -3px -350px !important;
}

.ico-promote {
  background-position: -3px -420px !important;
}

.ico-download {
  background-position: -3px -490px !important;
}

.ico-poker {
  background-position: -3px -564px !important;
}

a.btn-floating.btn-large.sidenav-trigger {
  width: 63px;
  height: 63px;
}

.btn-floating.btn-large i.material-icons {
  line-height: 66px;
}

#game-provider-toggle.icon-gp-wrapper {
  margin-right: 10px;
}

.call-back-phone {
  display: none;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  margin: 0 10%;
  background: #646464;
  color: #fff;
  border-radius: 5px;
  padding: 20px 10px;
  word-break: keep-all;
  text-align: center;
  z-index: 2002;
}
.call-back-phone .close {
  position: absolute;
  right: -15px;
  top: -15px;
  background: #000;
  color: #fff;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}
.call-back-phone p {
  margin: 0 0 15px;
}

.call-back-phone input {
  border: 1px solid #aaa !important;
  color: #fff;
}

.call-back-phone button {
  background: #D9AD32;
  color: #fff;
  border: 0;
  padding: 9px 40px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
.backcut {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2001;
  background: rgba(0, 0, 0, 0.5);
}

/* ============================== Lottery-games ====================================== */

.content.home {
  text-align: center;
  background: #eee;
}

.game-nav {
  background: #fff;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.game-nav li a {
  display: block;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  color: #353535;
}

.game-nav a:hover,
.game-nav li.active a {
  border-bottom: 1px solid #e9591a;
}

.game-tab {
  background: #fff;
}

.home-games a {
  display: block;
  color: #a52761;
  padding: 8px 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  flex: 33%;
}

.home-games a span {
  background: #e9591a;
  border-radius: 50px;
  padding: 1px;
  display: inline-block;
}

.home-games a p {
  margin: 5px 0 0;
}

.home-games a img {
  width: 75px;
  vertical-align: middle;
}

#games-2 a:hover {
  text-decoration: none;
}

#games-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ==== about-us aff-page ========= */
.about-menu{
  background: #dcdcdc;
  position: fixed;
  z-index: 5;
  width: 100vw;
  padding: 5px 0;
  text-align: center;
  margin: 0;
}
.about-menu li{
  float: left;
  width: 50%;
  padding: 5px 10px;
}
.about-menu li a{
  display: block;
  padding: 5px 0;
  border-radius: 10px;
  color: #555;
}
.about-menu li.active a{
  background: #323DBD;
  color: #fff;
}
.container.about-us{
  padding-top: 110px;
}
.aff-page .container,
.container.about-us{
  color: #555;
}
.container.about-us p.sup-title{
  margin-bottom: 5px;
  font-size: 16px;
  color: #000;
}
.aff-page .container ul,
.container.about-us ul,
.container.about-us ol{
  padding-left: 20px;
}
.aff-page .container ul li,
.container.about-us ul li{
  list-style: decimal;
  margin-bottom: 5px;
}
.container.about-us ol li{
  list-style: disc;
  margin-bottom: 10px;
}
.aff-page .container ul li{
  color: #222;
  margin-bottom: 10px;
}
.aff-page .container ol{
  padding-top: 10px;
  padding-left: 16px;
}
.aff-page .container ol li{
  list-style: disc;
  margin-bottom: 0px;
  font-size: 12px;
  color: #777;
}

.aff-page p.aff-title{
  color: #323DBD;
  font-size: 24px;
  font-weight: bold;
}
.aff-page2 p.aff-title{
  color: #A84200;
}
.aff-nav{
  background: linear-gradient(to bottom, #fefefe, #dcdcdc);
  margin-top: -7px;
}
.aff-nav a{
  display: block;
  width: 50vw;
  float: left;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background: #7F7F7F;
}
.aff-nav a.active{
  background: linear-gradient(to bottom, #fefefe, #dcdcdc);
  color: #323DBD;
}
.aff-page2 .aff-nav a.active{
  color: #A84200;
}
.aff-nav:after{
  content: '';
  display: table;
  clear: both;
}
.aff-menu{
  width: 100vw;
  overflow-x: scroll;
  background: #dcdcdc;
  padding: 10px 5px;
}
.aff-menu>div{
  display: flex;
}
.aff-menu a{
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  color: #555;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  margin: 5px;
}
.aff-menu a:active,
.aff-menu a.active{
  background: #323DBD;
  color: #fff;
}
.aff-page2 .aff-menu a:active,
.aff-page2 .aff-menu a.active{
  background: #A84200;
}
.aff-page .container{
  padding-top: 30px;
}
.aff-page .contents{
  padding-bottom: 50px;
}
.aff-page .contents.aff1 p{
  font-size: 16px;
  margin-bottom: 5px;
}
img#aff1{
  width: 80vw;
}
.aff-page .contents.aff2 .flex{
  display: flex;
  flex-wrap: wrap;
}
.aff-page .contents.aff2 .flex .inline-block{
  display: inline-block;
  flex: 50%;
  padding: 20px 0;
}
/* .aff-page .contents.aff2 .flex img{
  margin-bottom: 10px;
  height: 35px;
} */
.aff-page .contents.aff2 .flex span{
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
/* .aff-page .contents.aff2 .aff-btn,
.aff-page2 .aff-btn2,
.aff-page2 .aff-btn3{
  color: #fff;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
} */
.aff-page .contents.aff2 .aff-btn{
  display: inline-block;
  padding: 20px 0;
  width: 45%;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.aff-page .contents.aff2 .aff-btn img{
  display: block;
  margin: 0 auto 10px;
  height: 40px;
}
.aff-page .contents.aff2 .aff-btn{
  background: url(../images/bg-btn-repeat1.png) center -40px repeat-x;
}
.aff-page .contents.aff2 .aff-btn.aff-btn-reg{
  background: url(../images/bg-btn-repeat2.png) center -40px repeat-x;
  margin-left: 8%;
}
.aff-page2 .aff-btn2{
  background: url(../images/btn-bg-repeat2.jpg) center repeat-x;
  border-radius: 10px;
  display: block;
  width: 60vw;
}
.aff-page2 .aff-btn3{
  background: url(../images/btn-bg-repeat3.jpg) center repeat-x;
  border-radius: 10px;
  display: block;
  width: 60vw;
}
/* ==== For devices under 630px height ========= */

@media only screen and (max-height: 630px) {
  div.live-casino-wrapper a.btn.dark-red-bg.white {
    top: 40% !important;
  }
}