.bg-1 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -0;
}
.bg-2 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -950px;
}
.bg-3 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -190px;
}
.bg-4 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -190px;
}
.bg-5 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -0;
}
.bg-6 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -190px;
}
.bg-7 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -380px;
}
.bg-8 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -380px;
}
.bg-9 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -380px;
}
.bg-10 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -0;
}
.bg-11 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -190px;
}
.bg-12 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -380px;
}
.bg-13 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -570px;
}
.bg-14 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -570px;
}
.bg-15 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -570px;
}
.bg-16 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -570px;
}
.bg-17 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -0;
}
.bg-18 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -190px;
}
.bg-19 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -380px;
}
.bg-20 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -570px;
}
.bg-21 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -760px;
}
.bg-22 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -760px;
}
.bg-23 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -760px;
}
.bg-24 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -760px;
}
.bg-25 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -760px;
}
.bg-26 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -0;
}
.bg-27 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -190px;
}
.bg-28 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -380px;
}
.bg-29 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -570px;
}
.bg-30 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -760px;
}
.bg-31 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -950px;
}
.bg-32 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -950px;
}
.bg-33 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -950px;
}
.bg-34 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -950px;
}
.bg-35 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -950px;
}
.bg-36 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -0;
}
.bg-38 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -1140px;
}
.bg-39 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -1140px;
}
.bg-40 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -1140px;
}
.bg-41 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -1140px;
}
.bg-42 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -1140px;
}
.bg-43 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -1140px;
}
.bg-44 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -0;
}
.bg-45 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -190px;
}
.bg-46 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -380px;
}
.bg-47 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -570px;
}
.bg-48 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -760px;
}
.bg-49 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -950px;
}
.bg-50 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -1140px;
}
.bg-51 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -1330px;
}
.bg-52 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -1330px;
}
.bg-53 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -1330px;
}
.bg-54 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -1330px;
}
.bg-55 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -1330px;
}
.bg-56 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -1330px;
}
.bg-57 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1362px -1330px;
}
.bg-58 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -0;
}
.bg-59 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -190px;
}
.bg-60 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -380px;
}
.bg-61 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -570px;
}
.bg-62 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -760px;
}
.bg-63 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -950px;
}
.bg-64 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -1140px;
}
.bg-66 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1589px -1330px;
}
.bg-67 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -0 -1520px;
}
.bg-68 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -227px -1520px;
}
.bg-69 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -454px -1520px;
}
.bg-70 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -681px -1520px;
}
.bg-72 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -908px -1520px;
}
.bg-74 {
    width: 227px; height: 190px;
    background: url('cq91.jpg?v2') -1135px -1520px;
}
.bg-76 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -0 -0;
}
.bg-77 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -227px -0;
}
.bg-78 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -0 -190px;
}
.bg-80 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -227px -190px;
}
.bg-81 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -454px -0;
}
.bg-83 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -454px -190px;
}
.bg-84 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -0 -380px;
}
.bg-AA301 {
    width: 227px; height: 190px;
    background: url('cq92.jpg?v2') -227px -380px;
}