.bg-aladdin5x243 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -1140px;
}
.bg-bigred {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1140px -570px;
}
.bg-bikini {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -190px;
}
.bg-bluesea {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -190px;
}
.bg-boxingarena {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -459px -0;
}
.bg-btball5x20 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -459px -190px;
}
.bg-casino {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -380px;
}
.bg-circus {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -380px;
}
.bg-crazy5x243 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -454px -380px;
}
.bg-crossing {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -686px -0;
}
.bg-crusader {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -686px -190px;
}
.bg-doraemon3x5 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -686px -380px;
}
.bg-fantasyforest3x1 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -570px;
}
.bg-fiveelements5x9 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -570px;
}
.bg-fls {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -454px -570px;
}
.bg-football {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -681px -570px;
}
.bg-fourbeauty {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -913px -0;
}
.bg-fourss {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -913px -190px;
}
.bg-guhuozai {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -913px -380px;
}
.bg-gundam3x5 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -913px -570px;
}
.bg-hiphopman {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -760px;
}
.bg-hotpot5x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -760px;
}
.bg-huga5x9 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -454px -760px;
}
.bg-jtw {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -681px -760px;
}
.bg-legend5x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -908px -760px;
}
.bg-merryxmas {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -950px;
}
.bg-naruto {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -950px;
}
.bg-newyear {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -454px -950px;
}
.bg-onepiece {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -681px -950px;
}
.bg-onepiece3x1 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -908px -950px;
}
.bg-opera {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1140px -0;
}
.bg-perfectdet {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1140px -190px;
}
.bg-pethouse {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1140px -380px;
}
.bg-piratetreasure {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -232px -0;
}
.bg-rocket6x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1140px -760px;
}
.bg-san {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1140px -950px;
}
.bg-sd5 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -1140px;
}
.bg-seiya {
    width: 232px; height: 190px;
    background: url('dt.jpg?v2') -0 -0;
}
.bg-shogun {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -454px -1140px;
}
.bg-sq5x243 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -681px -1140px;
}
.bg-streetfighter3x1 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -908px -1140px;
}
.bg-sweethouse {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1135px -1140px;
}
.bg-tgow {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1367px -0;
}
.bg-vampire {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1367px -190px;
}
.bg-watermargin {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1367px -380px;
}
.bg-watermargin5x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1367px -570px;
}
.bg-whitesnake {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1367px -760px;
}
.bg-wrathofthor {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1367px -950px;
}
.bg-xiyouji5x9 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1367px -1140px;
}
.bg-xjqy5x9 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -1330px;
}
.bg-zombie {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -1330px;
}
.bg-kof5x9 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -454px -1330px;
}
.bg-kof {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -681px -1330px;
}
.bg-foryouth5x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -908px -1330px;
}
.bg-estate5x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1135px -1330px;
}
.bg-sd {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1362px -1330px;
}
.bg-rocknight {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -0;
}
.bg-dash {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -190px;
}
.bg-klnz5x20 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -380px;
}
.bg-dragonball {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -570px;
}
.bg-nightclub5x20 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -760px;
}
.bg-crystal {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -950px;
}
.bg-dnp {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -1140px;
}
.bg-tlod {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -1594px -1330px;
}
.bg-xiyouji5x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -0 -1520px;
}
.bg-goldjade5x50 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -227px -1520px;
}
.bg-bxgh5x25 {
    width: 227px; height: 190px;
    background: url('dt.jpg?v2') -454px -1520px;
}