.bg-14005 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -681px -1520px;
}
.bg-14006 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1135px -950px;
}
.bg-14007 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -908px -1520px;
}
.bg-14008 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -190px;
}
.bg-14010 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -456px -0;
}
.bg-14011 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -456px -190px;
}
.bg-14012 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -380px;
}
.bg-14013 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -380px;
}
.bg-14015 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -454px -380px;
}
.bg-14016 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -683px -0;
}
.bg-14017 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -683px -190px;
}
.bg-14018 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -683px -380px;
}
.bg-14019 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -570px;
}
.bg-14020 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -570px;
}
.bg-14021 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -454px -570px;
}
.bg-14022 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -681px -570px;
}
.bg-14023 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -910px -0;
}
.bg-14025 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -910px -190px;
}
.bg-14026 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -910px -380px;
}
.bg-15001 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -910px -570px;
}
.bg-15002 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -760px;
}
.bg-15004 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -760px;
}
.bg-15006 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -454px -760px;
}
.bg-15009 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -681px -760px;
}
.bg-15010 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -908px -760px;
}
.bg-15011 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1137px -0;
}
.bg-15013 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1137px -190px;
}
.bg-7001 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1137px -380px;
}
.bg-7002 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1137px -570px;
}
.bg-8001 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1137px -760px;
}
.bg-8002 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -950px;
}
.bg-8003 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -950px;
}
.bg-8004 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -454px -950px;
}
.bg-8005 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -681px -950px;
}
.bg-8006 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -908px -950px;
}
.bg-8007 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -190px;
}
.bg-8014 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -1140px;
}
.bg-8015 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -1140px;
}
.bg-8016 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -454px -1140px;
}
.bg-8017 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -681px -1140px;
}
.bg-8018 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -908px -1140px;
}
.bg-8019 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1135px -1140px;
}
.bg-8020 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1364px -0;
}
.bg-8021 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1364px -190px;
}
.bg-8022 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1364px -380px;
}
.bg-8023 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1364px -570px;
}
.bg-8024 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1364px -760px;
}
.bg-8025 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1364px -950px;
}
.bg-8026 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1364px -1140px;
}
.bg-8027 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -1330px;
}
.bg-8028 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -1330px;
}
.bg-8029 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -454px -1330px;
}
.bg-8030 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -681px -1330px;
}
.bg-8031 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -908px -1330px;
}
.bg-8034 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1135px -1330px;
}
.bg-8035 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1362px -1330px;
}
.bg-8036 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -0;
}
.bg-8037 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -190px;
}
.bg-8044 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -380px;
}
.bg-8046 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -570px;
}
.bg-8999 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -760px;
}
.bg-14001 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -950px;
}
.bg-14002 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -1140px;
}
.bg-14003 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1591px -1330px;
}
.bg-14004 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -1520px;
}
.bg-14030 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -227px -1520px;
}
.bg-15005 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -454px -1520px;
}
.bg-8047 {
    width: 228px; height: 190px;
    background: url('jdb.jpg?v=2.1') -0 -0;
}
.bg-8048 {
    width: 228px; height: 190px;
    background: url('jdb.jpg?v=2.1') -228px -0;
}
.bg-8049 {
    width: 227px; height: 190px;
    background: url('jdb.jpg?v=2.1') -1135px -1520px;
}