.bg-3CardPoker {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -0;
}
.bg-3CardPokerGold {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -950px;
}
.bg-3empires {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -190px;
}
.bg-5ReelDrive {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -190px;
}
.bg-108Heroes {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -0;
}
.bg-acesfaces {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -190px;
}
.bg-AcesfacesPwrPoker {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -380px;
}
.bg-adventurepalace {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -380px;
}
.bg-AlaskanFishing {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -380px;
}
.bg-AmericanRoulette {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -0;
}
.bg-ArcticAgents {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -190px;
}
.bg-ArcticFortune {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -380px;
}
.bg-Ariana {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -570px;
}
.bg-AsianBeauty {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -570px;
}
.bg-Avalon {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -570px;
}
.bg-Avalon2 {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -570px;
}
.bg-Baccarat {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -0;
}
.bg-BaccaratGold {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -190px;
}
.bg-BarBarBlackSheep5Reel {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -380px;
}
.bg-BasketballStar {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -570px;
}
.bg-battleRoyaleDesktop {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -760px;
}
.bg-Belissimo {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -760px;
}
.bg-big5 {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -760px;
}
.bg-BigChef {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -760px;
}
.bg-BigKahuna {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -760px;
}
.bg-BigTop {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -0;
}
.bg-bikiniparty {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -190px;
}
.bg-BlackjackBonanza {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -380px;
}
.bg-Bobby7s {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -570px;
}
.bg-BootyTime {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -760px;
}
.bg-breakaway {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -950px;
}
.bg-BreakDaBank {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -950px;
}
.bg-breakDaBankAgain {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -950px;
}
.bg-Bridesmaids {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -950px;
}
.bg-Bridezilla {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -950px;
}
.bg-BubbleBonanza {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -0;
}
.bg-BullseyeGameshow {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -1140px;
}
.bg-burningDesire {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -1140px;
}
.bg-BushTelegraph {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -1140px;
}
.bg-BustTheBank {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -1140px;
}
.bg-ButterFlies {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -1140px;
}
.bg-candyDreams {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -1140px;
}
.bg-Carnaval {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -0;
}
.bg-CashClams {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -190px;
}
.bg-CashCrazy {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -380px;
}
.bg-cashoccinoDesktop {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -570px;
}
.bg-Cashville {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -760px;
}
.bg-CastleBuilder {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -950px;
}
.bg-CherryRed {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -1140px;
}
.bg-chiefsmagic {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -1330px;
}
.bg-coolbuck {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -1330px;
}
.bg-coolwolf {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -1330px;
}
.bg-cosmicc {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -1330px;
}
.bg-CouchPotato {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -1330px;
}
.bg-crackerjack {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -1330px;
}
.bg-Craps {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1362px -1330px;
}
.bg-CrazyChameleons {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -0;
}
.bg-Cricketstar {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -190px;
}
.bg-Crocodopolis {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -380px;
}
.bg-crocs {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -570px;
}
.bg-CrownAndAnchor {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -760px;
}
.bg-Cyberstud {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -950px;
}
.bg-DeucesandJoker {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -1140px;
}
.bg-DeucesJokerPwrPoker {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1589px -1330px;
}
.bg-deuceswi {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -0 -1520px;
}
.bg-DeucesWildPwrPoker {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -227px -1520px;
}
.bg-DinoMight {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -454px -1520px;
}
.bg-dm {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -681px -1520px;
}
.bg-DoctorLove {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -908px -1520px;
}
.bg-DolphinQuest {
    width: 227px; height: 190px;
    background: url('mg1.jpg?v2') -1135px -1520px;
}

.bg-DoubleDoubleBonus {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -0;
}
.bg-DoubleJoker {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -950px;
}
.bg-DoubleJokerPwrPoker {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -190px;
}
.bg-DoubleWammy {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -190px;
}
.bg-dragondance {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -0;
}
.bg-Dragonz {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -190px;
}
.bg-DrWattsUp {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -380px;
}
.bg-EaglesWings {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -380px;
}
.bg-ElectricDiva {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -380px;
}
.bg-ElectroBingo {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -0;
}
.bg-emperorOfTheSea {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -190px;
}
.bg-EnchantedMermaid {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -380px;
}
.bg-EnchantedWoods {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -570px;
}
.bg-EuroRouletteGold {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -570px;
}
.bg-fan7 {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -570px;
}
.bg-FatLadySings {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -570px;
}
.bg-FireHawk {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -0;
}
.bg-fishparty {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -190px;
}
.bg-FlipCard {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -380px;
}
.bg-flowerpower {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -570px;
}
.bg-footballstar {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -760px;
}
.bg-ForsakenKingdom {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -760px;
}
.bg-FortuneCookie {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -760px;
}
.bg-FrenchRoulette {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -760px;
}
.bg-FrozenDiamonds {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -760px;
}
.bg-fruits {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -0;
}
.bg-FruitVSCandy {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -190px;
}
.bg-Galacticons {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -380px;
}
.bg-gdragon {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -570px;
}
.bg-geniesgems {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -760px;
}
.bg-Germinator {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -950px;
}
.bg-giantRiches {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -950px;
}
.bg-GiftRap {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -950px;
}
.bg-GirlsWithGuns {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -950px;
}
.bg-girlswithgunsfrozenDawn {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -950px;
}
.bg-GladiatorsGold {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -0;
}
.bg-goblinsgold {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -1140px;
}
.bg-GoldenEra {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -1140px;
}
.bg-goldenPrincess {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -1140px;
}
.bg-GopherGold {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -1140px;
}
.bg-GreatGriffin {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -1140px;
}
.bg-GungPow {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -1140px;
}
.bg-HappyHolidays {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -0;
}
.bg-Hexaline {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -190px;
}
.bg-HighFive {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -380px;
}
.bg-HighLimitBaccarat {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -570px;
}
.bg-Highsociety {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -760px;
}
.bg-HighSpeedPoker {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -950px;
}
.bg-hohoho {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -1140px;
}
.bg-HotasHades {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -1330px;
}
.bg-HotInk {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -1330px;
}
.bg-HoundHotel {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -1330px;
}
.bg-houseofdragons {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -1330px;
}
.bg-Huangdi_TYE {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -1330px;
}
.bg-ImmortalRomance {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -1330px;
}
.bg-InItToWinIt {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1362px -1330px;
}
.bg-IrishEyes {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -0;
}
.bg-Isis {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -190px;
}
.bg-jacks {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -380px;
}
.bg-Jackspwrpoker {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -570px;
}
.bg-JasonAndTheGoldenFleece {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -760px;
}
.bg-jesters {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -950px;
}
.bg-JewelsOfTheOrient {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -1140px;
}
.bg-jexpress {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1589px -1330px;
}
.bg-Jokerpok {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -0 -1520px;
}
.bg-JokerPwrPoker {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -227px -1520px;
}
.bg-joyofsix {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -454px -1520px;
}
.bg-JungleJim_ElDorado {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -681px -1520px;
}
.bg-jurassicbr {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -908px -1520px;
}
.bg-jurassicjackpot {
    width: 227px; height: 190px;
    background: url('mg2.jpg?v2') -1135px -1520px;
}

.bg-jurassicpark {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -0;
}
.bg-KaraokeParty {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -950px;
}
.bg-KaratePig {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -190px;
}
.bg-Keno {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -190px;
}
.bg-KingsOfCash {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -0;
}
.bg-KittyCabana {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -190px;
}
.bg-LadiesNite {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -380px;
}
.bg-LadyInRed {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -380px;
}
.bg-LeaguesOfFortune {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -380px;
}
.bg-LegendOfOlympus {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -0;
}
.bg-LifeOfRiches {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -190px;
}
.bg-lions {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -380px;
}
.bg-Loaded {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -570px;
}
.bg-LooseCannon {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -570px;
}
.bg-LostVegas {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -570px;
}
.bg-LouisianaDouble {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -570px;
}
.bg-LoveBugs {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -0;
}
.bg-LuckyCharmer {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -190px;
}
.bg-luckyfirecracker {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -380px;
}
.bg-LuckyKoi {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -570px;
}
.bg-LuckyLeprechaun {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -760px;
}
.bg-LuckyLeprechaunsLoot {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -760px;
}
.bg-luckytwins {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -760px;
}
.bg-LuckyWitch {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -760px;
}
.bg-Luckyzodiac {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -760px;
}
.bg-MadHatters {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -0;
}
.bg-MagicBoxes {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -190px;
}
.bg-magiccharms {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -380px;
}
.bg-MaxDamageSlot {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -570px;
}
.bg-mayanbingo {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -760px;
}
.bg-MayanPrincess {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -950px;
}
.bg-MerlinsMillions {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -950px;
}
.bg-MermaidsMillions {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -950px;
}
.bg-MH3CardPokerGold {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -950px;
}
.bg-MonkeyKeno {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -950px;
}
.bg-monkeys {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -0;
}
.bg-MonsterMania {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -1140px;
}
.bg-MonteCarloRiches {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -1140px;
}
.bg-MSBreakDaBankAgain {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -1140px;
}
.bg-MugshotMadness {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -1140px;
}
.bg-MultiWheelRouletteGold {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -1140px;
}
.bg-MysticDreams {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -1140px;
}
.bg-ninjamagic {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -0;
}
.bg-oceans {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -190px;
}
.bg-octopays {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -380px;
}
.bg-OrientalFortune {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -570px;
}
.bg-partytime {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -760px;
}
.bg-PeekaBoo5Reel {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -950px;
}
.bg-PenguinSplash {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -1140px;
}
.bg-phantomcash {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -1330px;
}
.bg-PharaohBingo {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -1330px;
}
.bg-pharaohs {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -1330px;
}
.bg-PiggyFortunes {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -1330px;
}
.bg-pirates {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -1330px;
}
.bg-Pistoleras {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -1330px;
}
.bg-playboy {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1362px -1330px;
}
.bg-PokerPursuit {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -0;
}
.bg-PollenNation {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -190px;
}
.bg-pollenParty {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -380px;
}
.bg-PremierRacing {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -570px;
}
.bg-PremierRouletteDE {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -760px;
}
.bg-PremierTrotting {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -950px;
}
.bg-PrettyKitty {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -1140px;
}
.bg-PurePlatinum {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1589px -1330px;
}
.bg-rabbitinthehat {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -0 -1520px;
}
.bg-RacingForPinks {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -227px -1520px;
}
.bg-RamessesRiches {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -454px -1520px;
}
.bg-RedDog {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -681px -1520px;
}
.bg-redhotdevil {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -908px -1520px;
}
.bg-ReelGems {
    width: 227px; height: 190px;
    background: url('mg3.jpg?v2') -1135px -1520px;
}
.bg-reelspinner {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -0;
}
.bg-ReelStrike {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -950px;
}
.bg-ReelThunder {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -190px;
}
.bg-RetroReels {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -190px;
}
.bg-RetroReelsDiamondGlitz {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -0;
}
.bg-RetroReelsExtremeHeat {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -190px;
}
.bg-RiverofRiches {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -380px;
}
.bg-robinOfSherwoodOnlineSlotDesktop {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -380px;
}
.bg-robojack {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -380px;
}
.bg-RockTheBoat {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -0;
}
.bg-romanriches {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -190px;
}
.bg-Roulette {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -380px;
}
.bg-royce {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -570px;
}
.bg-RRGeorgiePorgie {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -570px;
}
.bg-RRJackAndJill {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -570px;
}
.bg-RRQueenOfHearts {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -570px;
}
.bg-RubyAcesAndEights {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -0;
}
.bg-RubyAgentJaneBlonde {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -190px;
}
.bg-RubyAgeOfDiscovery {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -380px;
}
.bg-RubyAllAces {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -570px;
}
.bg-RubyAllAmerican {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -760px;
}
.bg-RubyAroundTheWorld {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -760px;
}
.bg-RubyAstronomical {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -760px;
}
.bg-RubyBallisticBingo {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -760px;
}
.bg-RubyBarBarBlackSheep {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -760px;
}
.bg-RubyBigBreak {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -0;
}
.bg-RubyBigKahunaSnakesAndLadders {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -190px;
}
.bg-RubyBingoBonanza {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -380px;
}
.bg-RubyBonusDeucesWild {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -570px;
}
.bg-RubyBonusPoker {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -760px;
}
.bg-RubyBonusPokerDeluxe {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -950px;
}
.bg-RubyBullsEye {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -950px;
}
.bg-RubyCabinFever {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -950px;
}
.bg-RubyCaptainCash {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -950px;
}
.bg-RubyCardClimber {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -950px;
}
.bg-RubyCentreCourt {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -0;
}
.bg-RubyChainMail {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -1140px;
}
.bg-RubyChiefsFortune {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -1140px;
}
.bg-RubyCityofGold {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -1140px;
}
.bg-RubyCrazy80s {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -1140px;
}
.bg-RubyCutesyPie {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -1140px;
}
.bg-RubyDeckTheHalls {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -1140px;
}
.bg-RubyDiamond7s {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -0;
}
.bg-RubyDiamondDeal {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -190px;
}
.bg-RubyDogfather {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -380px;
}
.bg-RubyDonDeal {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -570px;
}
.bg-RubyDoubleDose {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -760px;
}
.bg-RubyDragonsFortune {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -950px;
}
.bg-RubyElementals {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -1140px;
}
.bg-RubyFairyRing {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -1330px;
}
.bg-RubyFloriditaFandango {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -1330px;
}
.bg-RubyFlosDiner {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -1330px;
}
.bg-RubyFlyingAce {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -1330px;
}
.bg-RubyFortuna {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -1330px;
}
.bg-RubyFreeSpirit {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -1330px;
}
.bg-RubyFrootLoot {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1362px -1330px;
}
.bg-RubyFrostBite {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -0;
}
.bg-RubyFruitSalad {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -190px;
}
.bg-RubyFunHouse {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -380px;
}
.bg-RubyGoldCoast {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -570px;
}
.bg-RubyGoodToGo {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -760px;
}
.bg-RubyGrand7s {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -950px;
}
.bg-RubyHandToHandCombat {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -1140px;
}
.bg-RubyHappyNewYear {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1589px -1330px;
}
.bg-RubyHarveys {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -0 -1520px;
}
.bg-RubyHeavyMetal {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -227px -1520px;
}
.bg-RubyHellBoy {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -454px -1520px;
}
.bg-RubyHitman {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -681px -1520px;
}
.bg-RubyHotShot {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -908px -1520px;
}
.bg-RubyIWBigBreak {
    width: 227px; height: 190px;
    background: url('mg4.jpg?v2') -1135px -1520px;
}
.bg-RubyIWCashapillar {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -0;
}
.bg-RubyIWHalloweenies {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -950px;
}
.bg-RubyJackintheBox {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -190px;
}
.bg-RubyJewelThief {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -190px;
}
.bg-RubyJingleBells {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -0;
}
.bg-RubyJoker8000 {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -190px;
}
.bg-RubyJungleJim {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -380px;
}
.bg-RubyKashatoa {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -380px;
}
.bg-RubyKathmandu {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -380px;
}
.bg-RubyKillerClubs {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -0;
}
.bg-RubyKingArthur {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -190px;
}
.bg-RubyLegacy {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -380px;
}
.bg-RubyLuckyNumbers {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -570px;
}
.bg-RubyMagicSpell {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -570px;
}
.bg-RubyMHHoldemHigh {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -570px;
}
.bg-RubyMHPerfectPairs {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -570px;
}
.bg-RubyMochaOrange {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -0;
}
.bg-RubyMoneyMadMonkey {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -190px;
}
.bg-RubyMunchkins {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -380px;
}
.bg-RubyOffsideAndSeek {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -570px;
}
.bg-RubyPeekaBoo {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -760px;
}
.bg-RubyPharaohsGems {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -760px;
}
.bg-RubyPremierRoulette {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -760px;
}
.bg-RubyRapidReels {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -760px;
}
.bg-RubyRingsnRoses {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -760px;
}
.bg-RubyRoyalDerby {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -0;
}
.bg-RubySamuraiSevens {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -190px;
}
.bg-RubySantaPaws {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -380px;
}
.bg-RubyScrooge {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -570px;
}
.bg-RubySizzlingScorpions {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -760px;
}
.bg-RubySoccerSafari {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -950px;
}
.bg-RubySonicBoom {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -950px;
}
.bg-RubySpellBound {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -950px;
}
.bg-RubySummertime {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -950px;
}
.bg-RubySupeItUp {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -950px;
}
.bg-RubySuperBonusBingo {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -0;
}
.bg-RubySureWin {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -1140px;
}
.bg-RubyTheRatPack {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -1140px;
}
.bg-RubyThousandIslands {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -1140px;
}
.bg-RubyThreeWheeler {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -1140px;
}
.bg-RubyTombRaiderII {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -1140px;
}
.bg-RubyTriplePocketPoker {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -1140px;
}
.bg-RubyTurtleyAwesome {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -0;
}
.bg-RubyTwister {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -190px;
}
.bg-RubyWasabiSan {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -380px;
}
.bg-RubyWheelOfRiches {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -570px;
}
.bg-RubyWildChampions {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -760px;
}
.bg-RubyWitchesWealth {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -950px;
}
.bg-RubyWorldCupMania {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -1140px;
}
.bg-RugbyStar {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -1330px;
}
.bg-SambaBingo {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -1330px;
}
.bg-SantasWildRide {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -1330px;
}
.bg-Scratch {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -1330px;
}
.bg-SecretAdmirer {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -1330px;
}
.bg-SecretSanta {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -1330px;
}
.bg-Serenity {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1362px -1330px;
}
.bg-Shoot {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -0;
}
.bg-Sicbo {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -190px;
}
.bg-Silverfang {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -380px;
}
.bg-SkullDuggery {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -570px;
}
.bg-SoManyMonsters {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -760px;
}
.bg-SoMuchCandy {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -950px;
}
.bg-SoMuchSushi {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -1140px;
}
.bg-SovereignOfTheSevenSeas {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1589px -1330px;
}
.bg-Spectacular {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -0 -1520px;
}
.bg-Spingo {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -227px -1520px;
}
.bg-SpringBreak {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -454px -1520px;
}
.bg-StarDust {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -681px -1520px;
}
.bg-StarlightKiss {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -908px -1520px;
}
.bg-StashoftheTitans {
    width: 227px; height: 190px;
    background: url('mg5.jpg?v2') -1135px -1520px;
}.bg-SterlingSilver3D {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -227px -0;
}
.bg-SunQuest {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -908px -190px;
}
.bg-suntide {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -0 -190px;
}
.bg-SweetHarvest {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -227px -190px;
}
.bg-TallyHo {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -454px -0;
}
.bg-Tarzan {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -454px -190px;
}
.bg-TensorBetter {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -0 -380px;
}
.bg-TensorBetterPwrPoker {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -227px -380px;
}
.bg-Terminator2 {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -454px -380px;
}
.bg-TheBermudaMysteries {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -681px -0;
}
.bg-TheFinerReelsOfLife {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -681px -190px;
}
.bg-thetwistedcircus {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -681px -380px;
}
.bg-ThroneOfEgypt {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -0 -570px;
}
.bg-ThunderStruck2 {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -227px -570px;
}
.bg-TigerMoon {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -454px -570px;
}
.bg-TitansoftheSunHyperion {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -681px -570px;
}
.bg-TitansoftheSunTheia {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -908px -0;
}
.bg-TombRaider {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -0 -0;
}
.bg-TootinCarMan {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -908px -380px;
}
.bg-Triangulation {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -908px -570px;
}
.bg-trickortreat {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -0 -760px;
}
.bg-TripleMagic {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -227px -760px;
}
.bg-UntamedBengalTiger {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -454px -760px;
}
.bg-UntamedCrownedEagle {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -681px -760px;
}
.bg-UntamedGiantPanda {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -908px -760px;
}
.bg-untamedwolfpack {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -1135px -0;
}
.bg-VinylCountdown {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -1135px -190px;
}
.bg-westernfrontier {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -1135px -380px;
}
.bg-WhatAHoot {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -1135px -570px;
}
.bg-WhatonEarth {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -1135px -760px;
}
.bg-wildorient {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -0 -950px;
}
.bg-WinSumDimSum {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -227px -950px;
}
.bg-wwizards {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -454px -950px;
}
.bg-zebra {
    width: 227px; height: 190px;
    background: url('mg6.jpg?v2') -681px -950px;
}