.bg-5xmagic {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -0;
}
.bg-aceofspades {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -950px;
}
.bg-aztecidols {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -190px;
}
.bg-aztecprincess {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -190px;
}
.bg-beatme {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -0;
}
.bg-belloffortune {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -190px;
}
.bg-blackjackmh {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -380px;
}
.bg-bookofdead {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -380px;
}
.bg-casinoholdem {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -380px;
}
.bg-casinostudpoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -0;
}
.bg-catsandcash {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -190px;
}
.bg-chinesenewyear {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -380px;
}
.bg-christmasjoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -570px;
}
.bg-cloudquest {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -570px;
}
.bg-copsnrobbers {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -570px;
}
.bg-crazycows {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -570px;
}
.bg-deucesandjoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -0;
}
.bg-deuceswild {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -190px;
}
.bg-doublebonus {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -380px;
}
.bg-doubleexposureblackjackmh {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -570px;
}
.bg-dragonship {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -760px;
}
.bg-eastereggs {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -760px;
}
.bg-enchantedcrystals {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -760px;
}
.bg-enchantedmeadow {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -760px;
}
.bg-energoonz {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -760px;
}
.bg-englishroulette {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -0;
}
.bg-europeanblackjackmh {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -190px;
}
.bg-europeanroulette {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -380px;
}
.bg-eyeofthekraken {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -570px;
}
.bg-firejoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -760px;
}
.bg-fortuneteller {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -950px;
}
.bg-frenchroulette {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -950px;
}
.bg-frenchroulettelp {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -950px;
}
.bg-fruitbonanza {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -950px;
}
.bg-gemix {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -950px;
}
.bg-giftshop {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -0;
}
.bg-goldencaravan {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -1140px;
}
.bg-goldengoal {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -1140px;
}
.bg-goldenlegend {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -1140px;
}
.bg-goldenticket {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -1140px;
}
.bg-goldtrophy2 {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -1140px;
}
.bg-grimmuerto {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -1140px;
}
.bg-gunslinger {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -0;
}
.bg-happyhalloween {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -190px;
}
.bg-holeinone {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -380px;
}
.bg-holidayseason {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -570px;
}
.bg-hugogoal {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -760px;
}
.bg-irishgold {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -950px;
}
.bg-jackpotpoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -1140px;
}
.bg-jacksorbetter {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -1330px;
}
.bg-jademagician {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -1330px;
}
.bg-jewelbox {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -1330px;
}
.bg-jokerpoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -1330px;
}
.bg-jollyroger {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -1330px;
}
.bg-kingsorbetter {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -1330px;
}
.bg-ladyoffortune {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1362px -1330px;
}
.bg-leprechaungoesegypt {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -0;
}
.bg-leprechaungoestohell {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -190px;
}
.bg-luckydiamonds {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -380px;
}
.bg-masquerade {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -570px;
}
.bg-merryxmas {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -760px;
}
.bg-minibaccarat {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -950px;
}
.bg-moneywheel {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -1140px;
}
.bg-mysteryjoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1589px -1330px;
}
.bg-myth {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -0 -1520px;
}
.bg-ninjafruits {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -227px -1520px;
}
.bg-paigowpoker {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -454px -1520px;
}
.bg-pearllagoon {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -681px -1520px;
}
.bg-pearlsofindia {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -908px -1520px;
}
.bg-photosafari {
    width: 227px; height: 190px;
    background: url('png1.jpg?v3') -1135px -1520px;
}
.bg-pimped {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -227px -0;
}
.bg-ragetoriches {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -681px -380px;
}
.bg-richesofra {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -0 -190px;
}
.bg-sailsofgold {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -227px -190px;
}
.bg-sambacarnival {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -454px -0;
}
.bg-scratchahoy {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -454px -190px;
}
.bg-sevensins {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -0 -380px;
}
.bg-singledeckblackjackmh {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -227px -380px;
}
.bg-sizzlingspins {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -454px -380px;
}
.bg-spacerace {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -681px -0;
}
.bg-speedcash {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -681px -190px;
}
.bg-spinparty {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -0 -0;
}
.bg-superflip {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -0 -570px;
}
.bg-tensorbetter {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -227px -570px;
}
.bg-towerquest {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -454px -570px;
}
.bg-triplechancehilo {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -681px -570px;
}
.bg-trollhunters {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -908px -0;
}
.bg-turkishvillagekid {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -908px -190px;
}
.bg-wildblood {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -908px -380px;
}
.bg-wildmelon {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -908px -570px;
}
.bg-wildnorth {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -0 -760px;
}
.bg-wizardofgems {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -227px -760px;
}
.bg-riseofolympus {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -455px -760px
}
.bg-riseofolympusmobile {
    width: 227px; height: 190px;
    background: url('png2.jpg?v3') -455px -760px
}