.bg-bca {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -0;
}
.bg-bjma {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -950px;
}
.bg-bjmb {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -190px;
}
.bg-cs3irishcharms {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -190px;
}
.bg-cs3w {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -0;
}
.bg-cs5moneyroll {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -190px;
}
.bg-cs5triple8gold {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -380px;
}
.bg-kna {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -380px;
}
.bg-rla {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -380px;
}
.bg-vpa {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -0;
}
.bg-vs1dragon8 {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -190px;
}
.bg-vs1tigers {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -380px;
}
.bg-vs3train {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -570px;
}
.bg-vs5aztecgems {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -570px;
}
.bg-vs5joker {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -570px;
}
.bg-vs7fire88 {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -570px;
}
.bg-vs7monkeys {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -0;
}
.bg-vs7pigs {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -190px;
}
.bg-vs9catz {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -380px;
}
.bg-vs9hockey {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -570px;
}
.bg-vs9madmonkey {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -760px;
}
.bg-vs10egypt {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -760px;
}
.bg-vs10madame {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -760px;
}
.bg-vs13g {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -760px;
}
.bg-vs13ladyofmoon {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -760px;
}
.bg-vs15b {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -0;
}
.bg-vs15diamond {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -190px;
}
.bg-vs15fairytale {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -380px;
}
.bg-vs15ktv {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -570px;
}
.bg-vs20bl {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -760px;
}
.bg-vs20cm {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -950px;
}
.bg-vs20cms {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -950px;
}
.bg-vs20cmv {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -950px;
}
.bg-vs20cw {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -950px;
}
.bg-vs20egypt {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -950px;
}
.bg-vs20eightdragons {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -0;
}
.bg-vs20gg {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -1140px;
}
.bg-vs20godiva {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -1140px;
}
.bg-vs20hockey {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -1140px;
}
.bg-vs20rhino {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -1140px;
}
.bg-vs20rome {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -1140px;
}
.bg-vs20santa {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -1140px;
}
.bg-vs25asgard {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -0;
}
.bg-vs25champ {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -190px;
}
.bg-vs25chilli {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -380px;
}
.bg-vs25dwarves {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -570px;
}
.bg-vs25dwarves_new {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -760px;
}
.bg-vs25goldrush {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -950px;
}
.bg-vs25h {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -1140px;
}
.bg-vs25journey {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -1330px;
}
.bg-vs25kingdoms {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -1330px;
}
.bg-vs25newyear {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -1330px;
}
.bg-vs25pandagold {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -1330px;
}
.bg-vs25pantherqueen {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -1330px;
}
.bg-vs25queenofgold {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -1330px;
}
.bg-vs25romeoandjuliet {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1362px -1330px;
}
.bg-vs25safari {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -0;
}
.bg-vs25sea {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -190px;
}
.bg-vs25vegas {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -380px;
}
.bg-vs25wildspells {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -570px;
}
.bg-vs25wolfgold {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -760px;
}
.bg-vs30catz {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -950px;
}
.bg-vs40beowulf {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -1140px;
}
.bg-vs50aladdin {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1589px -1330px;
}
.bg-vs50amt {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -0 -1520px;
}
.bg-vs50chinesecharms {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -227px -1520px;
}
.bg-vs50hercules {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -454px -1520px;
}
.bg-vs50kingkong {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -681px -1520px;
}
.bg-vs50pixie {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -908px -1520px;
}
.bg-vs243crystalcave {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v2') -1135px -1520px;
}
.bg-vs9chen {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v3.2') -1363px -1520px;
}
.bg-vs20vegasmagic {
    width: 227px; height: 190px;
    background: url('pp1.jpg?v3.2') -1590px -1520px;
}
.bg-vs243fortune {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -0 -0;
}

.bg-vs243lions {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -227px -0;
}

.bg-vs1024atlantis {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -0 -190px;
}

.bg-vs1024butterfly {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -227px -190px;
}

.bg-vs4096jurassic {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -454px -0;
}

.bg-vs20leprechaun {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -454px -190px;
}

.bg-vs25davinci {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -0 -380px;
}

.bg-vs25peking {
    width: 227px; height: 190px;
    background: url('pp2.jpg?v5') -227px -380px;