.bg-aeolus {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -0;
}
.bg-aogro {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -950px;
}
.bg-aogs {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -190px;
}
.bg-arc {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -190px;
}
.bg-asfa {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -0;
}
.bg-ashadv {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -190px;
}
.bg-ashamw {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -380px;
}
.bg-ashbob {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -380px;
}
.bg-ashcpl {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -380px;
}
.bg-ashfmf {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -0;
}
.bg-ashfta {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -190px;
}
.bg-ashhof {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -380px;
}
.bg-ashhotj {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -570px;
}
.bg-ashicv {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -570px;
}
.bg-ashlob {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -570px;
}
.bg-ashsbd {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -570px;
}
.bg-ashtmd {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -0;
}
.bg-ashwgaa {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -190px;
}
.bg-athn {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -380px;
}
.bg-aztec {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -570px;
}
.bg-ba {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -760px;
}
.bg-bal {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -760px;
}
.bg-bfb {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -760px;
}
.bg-bib {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -760px;
}
.bg-bjl {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -760px;
}
.bg-bl {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -0;
}
.bg-bob {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -190px;
}
.bg-bs {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -380px;
}
.bg-bt {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -570px;
}
.bg-c7 {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -760px;
}
.bg-chao {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -950px;
}
.bg-chel {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -950px;
}
.bg-chl {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -950px;
}
.bg-cm {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -950px;
}
.bg-cnpr {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -950px;
}
.bg-ct {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -0;
}
.bg-ctiv {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -1140px;
}
.bg-ctp2 {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -1140px;
}
.bg-dlm {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -1140px;
}
.bg-dnr {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -1140px;
}
.bg-donq {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -1140px;
}
.bg-drgro {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -1140px;
}
.bg-dt2 {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -0;
}
.bg-dual_rol {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -190px;
}
.bg-eas {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -380px;
}
.bg-egspin {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -570px;
}
.bg-er {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -760px;
}
.bg-evj {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -950px;
}
.bg-fbr {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -1140px;
}
.bg-fcgz {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -1330px;
}
.bg-fday {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -1330px;
}
.bg-fdt {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -1330px;
}
.bg-fdtjg {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -1330px;
}
.bg-fff {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -1330px;
}
.bg-fkmj {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -1330px;
}
.bg-fm {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1362px -1330px;
}
.bg-fmn {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -0;
}
.bg-fnfrj {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -190px;
}
.bg-fow {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -380px;
}
.bg-foy {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -570px;
}
.bg-frtf {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -760px;
}
.bg-frtln {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -950px;
}
.bg-ftg {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -1140px;
}
.bg-ftsis {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1589px -1330px;
}
.bg-furf {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -0 -1520px;
}
.bg-fxf {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -227px -1520px;
}
.bg-gemq {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -454px -1520px;
}
.bg-ges {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -681px -1520px;
}
.bg-gesjp {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -908px -1520px;
}
.bg-7bal {
    width: 227px; height: 190px;
    background: url('pt1.jpg?v2') -1135px -1520px;
}
.bg-ght_a {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -0;
}
.bg-glg {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -950px;
}
.bg-glr {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -190px;
}
.bg-glrj {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -190px;
}
.bg-gos {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -0;
}
.bg-grel {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -190px;
}
.bg-gts50 {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -380px;
}
.bg-gts51 {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -380px;
}
.bg-gts52 {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -380px;
}
.bg-gtsatq {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -0;
}
.bg-gtscnb {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -190px;
}
.bg-gtsdgk {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -380px;
}
.bg-gtsdrdv {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -570px;
}
.bg-gtsfc {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -570px;
}
.bg-gtsflzt {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -570px;
}
.bg-gtsfpc {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -570px;
}
.bg-gtsgme {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -0;
}
.bg-gtshwkp {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -190px;
}
.bg-gtsje {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -380px;
}
.bg-gtsjhw {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -570px;
}
.bg-gtsjxb {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -760px;
}
.bg-gtsjzc {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -760px;
}
.bg-gtsmrln {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -760px;
}
.bg-gtspor {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -760px;
}
.bg-gtssmbr {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -760px;
}
.bg-gtsswk {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -0;
}
.bg-gtswg {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -190px;
}
.bg-gtswng {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -380px;
}
.bg-haocs {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -570px;
}
.bg-hb {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -760px;
}
.bg-heavru {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -950px;
}
.bg-hh {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -950px;
}
.bg-hilol {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -950px;
}
.bg-hk {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -950px;
}
.bg-hlf {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -950px;
}
.bg-hlf2 {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -0;
}
.bg-hotktv {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -1140px;
}
.bg-jpgt {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -1140px;
}
.bg-jqw {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -1140px;
}
.bg-kfp {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -1140px;
}
.bg-kkg {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -1140px;
}
.bg-legwld {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -1140px;
}
.bg-lm {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -0;
}
.bg-lndg {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -190px;
}
.bg-longlong {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -380px;
}
.bg-lvb {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -570px;
}
.bg-mcrol {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -760px;
}
.bg-mfrt {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -950px;
}
.bg-mgstk {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -1140px;
}
.bg-mmy {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -1330px;
}
.bg-ms {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -1330px;
}
.bg-nc_7bal {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -1330px;
}
.bg-nc_bal {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -1330px;
}
.bg-nk {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -1330px;
}
.bg-paw {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -1330px;
}
.bg-pgv {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1362px -1330px;
}
.bg-pl {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -0;
}
.bg-plba {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -190px;
}
.bg-pmn {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -380px;
}
.bg-pnp {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -570px;
}
.bg-psdbj {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -760px;
}
.bg-pst {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -950px;
}
.bg-qnw {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -1140px;
}
.bg-qop {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1589px -1330px;
}
.bg-ririshc {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -0 -1520px;
}
.bg-rky {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -227px -1520px;
}
.bg-ro {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -454px -1520px;
}
.bg-ro_g {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -681px -1520px;
}
.bg-rodl {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -908px -1520px;
}
.bg-rodz {
    width: 227px; height: 190px;
    background: url('pt2.jpg?v2') -1135px -1520px;
}
.bg-rodz_g {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v2') -227px -0;
}
.bg-fmjp {
    width: 228px; height: 190px;
    background: url('pt3.jpg?v4') -0 -0;
}
.bg-grbjp {
    width: 228px; height: 190px;
    background: url('pt3.jpg?v4') -228px -0;
}
.bg-rofl {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -0 -190px;
}
.bg-rodz_g {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -227px -190px;
}
.bg-samz {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -456px -0;
}
.bg-rol {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -456px -190px;
}
.bg-savcas {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -0 -380px;
}
.bg-sfh {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -227px -380px;
}
.bg-sbl {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -454px -380px;
}
.bg-shmst {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -683px -0;
}
.bg-sib {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -683px -190px;
}
.bg-sis {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -683px -380px;
}
.bg-sisjp {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -0 -570px;
}
.bg-sling {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -227px -570px;
}
.bg-slion {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -454px -570px;
}
.bg-sol {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -681px -570px;
}
.bg-ssp {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -910px -0;
}
.bg-sugla {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -910px -190px;
}
.bg-sx {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -910px -380px;
}
.bg-ta {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -910px -570px;
}
.bg-titimama {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -908px -1140px;
}
.bg-tmqd {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -227px -760px;
}
.bg-topg {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -454px -760px;
}
.bg-tpd2 {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -681px -760px;
}
.bg-treasq {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -908px -760px;
}
.bg-trl {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -1137px -0;
}
.bg-trpmnk {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -1137px -190px;
}
.bg-ttc {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -1137px -380px;
}
.bg-ub {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -1137px -570px;
}
.bg-ubjl {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -1137px -760px;
}
.bg-vbal {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -0 -950px;
}
.bg-vcstd {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -227px -950px;
}
.bg-whk {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -454px -950px;
}
.bg-warg {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -681px -950px;
}
.bg-wis {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -908px -950px;
}
.bg-wlcsh {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -1135px -950px;
}
.bg-wlg {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -0 -1140px;
}
.bg-wlgjp {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -227px -1140px;
}
.bg-zcjb {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -454px -1140px;
}
.bg-zcjbjp {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -681px -1140px;
}
.bg-zctz {
    width: 227px; height: 190px;
    background: url('pt3.jpg?v4') -0 -760px;
}