.bg-ActionHeroes {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -0;
}
.bg-AladdinHandOfMidas {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -950px;
}
.bg-AladdinsLegacy {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -190px;
}
.bg-AmazonAdventureSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -190px;
}
.bg-AngelsTouch {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -0;
}
.bg-ArthursQuest {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -190px;
}
.bg-ArthursQuestIISlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -380px;
}
.bg-Athena {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -380px;
}
.bg-Baccarat {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -380px;
}
.bg-BarsAndBellsSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -0;
}
.bg-BerryBlastPlus {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -190px;
}
.bg-BerryBlastSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -380px;
}
.bg-Blackjack {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -570px;
}
.bg-BullsEyeBucks {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -570px;
}
.bg-CashGrabII {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -570px;
}
.bg-CasinoStudPoker {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -570px;
}
.bg-CherryFortune {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -0;
}
.bg-ChilliGold {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -190px;
}
.bg-ChoySunDoa {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -380px;
}
.bg-Cleopatra {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -570px;
}
.bg-DetectiveBlackCat {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -760px;
}
.bg-DolphinGold {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -760px;
}
.bg-DracosFire {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -760px;
}
.bg-Dragon8sSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -760px;
}
.bg-DragonBallReels {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -760px;
}
.bg-DragonKing {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -0;
}
.bg-DragonPalace {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -190px;
}
.bg-DynastyEmpire {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -380px;
}
.bg-EightImmortals {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -570px;
}
.bg-FanCashticSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -760px;
}
.bg-FastTrack {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -950px;
}
.bg-FireGoddess {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -950px;
}
.bg-FivePirates {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -950px;
}
.bg-FiveReelSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -950px;
}
.bg-Fortune8Cat {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -950px;
}
.bg-FortunePays {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -0;
}
.bg-FortuneTellerSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -1140px;
}
.bg-FrogsNFlies {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -1140px;
}
.bg-FruitParty {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -1140px;
}
.bg-FuStar {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -1140px;
}
.bg-GoldenAmazon {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -1140px;
}
.bg-GoldenDragon {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -1140px;
}
.bg-GongXiFaCai {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -0;
}
.bg-GoooalSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -190px;
}
.bg-GrandPrix {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -380px;
}
.bg-HoleInOne {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -570px;
}
.bg-HollywoodReels {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -760px;
}
.bg-HotVolcano {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -950px;
}
.bg-Huluwa {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -1140px;
}
.bg-JackpotHolidaySlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -1330px;
}
.bg-JadeEmpire {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -1330px;
}
.bg-JourneyWest {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -1330px;
}
.bg-KatLeeII {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -1330px;
}
.bg-KatLeeSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -1330px;
}
.bg-LadysCharmsSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -1330px;
}
.bg-LeagueOfChampions {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1362px -1330px;
}
.bg-LostTemple {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -0;
}
.bg-Lucky7Blackjack {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -190px;
}
.bg-LuckyPanda {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -380px;
}
.bg-MadMonkey {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -570px;
}
.bg-MagicalGroveSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -760px;
}
.bg-MonkeyAndTheMoon {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -950px;
}
.bg-MonkeyLoveSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -1140px;
}
.bg-MonkeyLuck {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1589px -1330px;
}
.bg-MoreMonkeys {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -0 -1520px;
}
.bg-NeptunesGoldSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -227px -1520px;
}
.bg-NeutronStar {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -454px -1520px;
}
.bg-Oktoberfest {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -681px -1520px;
}
.bg-PerfectPairsBlackjack {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -908px -1520px;
}
.bg-PolarRichesSlots {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v2') -1135px -1520px;
}
.bg-BattleHeroes {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v3.2') -1362px -1520px;
}
.bg-KungFuShowdown {
    width: 227px; height: 190px;
    background: url('ttg1.jpg?v3.2') -1589px -1520px;
}
.bg-PotOGoldII {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -227px -0;
}
.bg-RedHotFreeSpins {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -908px -0;
}

.bg-ReelsOfFortune {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -0 -190px;
}

.bg-RobinHood {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -227px -190px;
}

.bg-RoseOfVenice {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -454px -0;
}

.bg-SamuraiPrincess {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -454px -190px;
}

.bg-SerengetiDiamonds {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -0 -380px;
}

.bg-ShogunShowdown {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -227px -380px;
}

.bg-SilverLion {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -454px -380px;
}

.bg-SinfulSpinsSlots {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -681px -0;
}

.bg-SnakeCharmer {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -681px -190px;
}

.bg-StacksOfCheese {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -681px -380px;
}

.bg-SuperKids {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -0 -570px;
}

.bg-SurfsUpSlots {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -227px -570px;
}

.bg-Taxi {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -454px -570px;
}

.bg-TBSpinNWinSlots {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -681px -570px;
}

.bg-TheGreatCasiniSlots {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -0 -0;
}

.bg-TheHoppingDead {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -908px -190px;
}

.bg-TheSilkRoad {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -908px -380px;
}

.bg-ThreeCardPoker {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -908px -570px;
}

.bg-ThunderingZeus {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -0 -760px;
}

.bg-TigerSlayer {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -227px -760px;
}

.bg-TikiTreasures {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -454px -760px;
}

.bg-TinyDoorGods {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -681px -760px;
}

.bg-VampiresVsWerewolves {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -908px -760px;
}

.bg-VictoryRidgeSlots {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -1135px -0;
}

.bg-VivaVeneziaSlots {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -1135px -190px;
}

.bg-WildMummySlots {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -1135px -380px;
}

.bg-YearOfTheMonkey {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -1135px -570px;
}

.bg-ZeusVsHades {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -1135px -760px;
}

.bg-ZodiacWilds {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -0 -950px;
}

.bg-DiamondTowerH5 {
    width: 227px; height: 190px;
    background: url('ttg2.jpg?v3') -227px -950px;
}
.bg-Wild_West {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -0 -0;
}

.bg-All_American {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -227px -0;
}

.bg-CashGrab {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -0 -190px;
}

.bg-Deuces_Wild {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -227px -190px;
}

.bg-Jacks_or_Better {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -454px -0;
}

.bg-Joker_Poker {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -454px -190px;
}

.bg-JumpForGold {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -0 -380px;
}

.bg-Space_Invasion {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -227px -380px;
}

.bg-Lucky_Cherry {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -454px -380px;
}

.bg-Pirate_Treasure {
    width: 227px; height: 190px;
    background: url('ttg3.jpg?v3') -681px -0;
}