.bg-YP800 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -227px -0;
}
.bg-YP801 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -0 -570px;
}
.bg-YP802 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -0 -190px;
}
.bg-YP803 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -227px -190px;
}
.bg-YP810 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -454px -0;
}
.bg-YP804 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -454px -190px;
}
.bg-YP807 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -0 -380px;
}
.bg-YP814 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -227px -380px;
}
.bg-YP817 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -454px -380px;
}
.bg-YP821 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -681px -0;
}
.bg-YP813 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -681px -190px;
}
.bg-YP805 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -681px -380px;
}
.bg-YP811 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -0 -0;
}
.bg-YP806 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -227px -570px;
}
.bg-YP826 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -454px -570px;
}
.bg-YP808 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -681px -570px;
}
.bg-YP818 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -908px -0;
}
.bg-YP823 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -908px -190px;
}
.bg-YP827 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -908px -380px;
}
.bg-YP824 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -908px -570px;
}
.bg-YP828 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -0 -760px;
}
.bg-YP825 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -227px -760px;
}
.bg-YP820 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -454px -760px;
}
.bg-YP822 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -681px -760px;
}
.bg-YP830 {
    width: 227px; height: 190px;
    background: url('yp.jpg?v3.1') -908px -760px;
}